@import url("./index.css");

.add-product{
    width: 100%;
    height: 100vh;
    display: flex;

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        overflow-y: auto;
        
        .add-new-product{
            display: flex;
            width: 50%;
            padding-bottom: 1rem;
            
            & form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                color: var(--white);

                .form-header{
                    font-size: 1.4rem;
                    font-weight: 700;
                }

                .img-preview{
                    display: flex;

                    & img{
                        width: 100%;
                        border-radius: .5rem;
                    }
                }

                & input, & textarea, .save, & label{
                    padding: 1rem;
                    font-size: 1rem;
                    border: none;
                    outline: none;
                    resize: none;
                    border-radius: .5rem;
                    color: var(--white);
                    background-color: var(--btn_color);

                    &#img{
                        display: none;
                    }
                }

                & label{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    cursor: pointer;
                }

                .react-quill{
                    min-height: 200px;
                }

                .save{
                    width: fit-content;
                    cursor: pointer;
                    transition: all .2s;
                    padding: 0.5rem 1rem;

                    &:hover{
                        background-color: rgb(255,255,255,.2);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .add-product{
        .content{
            padding-bottom: 10rem;
            
            .add-new-product{
                margin-top: 2rem;
                width: 100%;
            }
        }
    }
}