.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 480px) {
    
}