@import url("./index.css");

.product-detail{
    margin-top: 1rem;
    display: flex;  
    flex-direction: column;
    gap: 1rem;
    color: var(--white);

    .back{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    .detail-header{
        font-size: 1.4rem;
        font-weight: 700;
    }

    .detail-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .name-category,.price-quantity{
            display: flex;
            gap: 1rem;
        }

        .item{
            width: calc((100% - 1rem)/2);
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: .5rem;
            background-color: rgb(255,255,255,.1);

            &.desc{
                width: 100%;
            }

            .label{
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 1.05rem;

                .circle{
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: var(--green);
                    border-radius: 10rem;
                }
            }

            .value{
                word-wrap: break-word;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .product-detail{

        .detail-content{
            .name-category,.price-quantity{
                flex-direction: column;

                .item{
                    width: 100%;
                }
            }
        }
    }
}