@import url("./index.css");

.product-edit{
    margin-top: 1rem;
    display: flex;  
    flex-direction: column;
    gap: 1rem;
    color: var(--white);

    .edit-header{
        font-size: 1.4rem;
        font-weight: 700;
    }

    .edit-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .name-category,.price-quantity{
            display: flex;
            gap: 1rem;
        }

        .item{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: .5rem;
            background-color: rgb(255,255,255,.1);

            .label{
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 1.05rem;

                .circle{
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: var(--green);
                    border-radius: 10rem;
                }
            }

            .value{
                width: 100%;
                font-size: 1rem;
                border: none;
                outline: none;
                background: transparent;
                color: var(--white);
                resize: none;
            }
        }

        .btns{
            display: flex;
            align-items: center;
            gap: 1rem;

            & div{
                padding: 0.5rem 1rem;
                border-radius: .5rem;
                background-color: rgb(255,255,255,.1);
                cursor: pointer;
                transition: all .2s;

                &.cancel{
                    color: #ff3d3d;
                }

                &.save{
                    color: var(--green);
                }

                &:hover{
                    background-color: rgb(255,255,255,.2);
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .product-edit{
        margin-bottom: 10rem;

        .edit-content{
            .name-category,.price-quantity{
                flex-direction: column;
            }
        }
    }
}