@import url("./index.css");

.verify-loading{
    display: flex;   
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.verify-error{
    display: flex;   
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: var(--white);

    .logo-title{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .message{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & svg{
            color: var(--red);
        }
    }

    .link{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: .5rem 1rem;
        text-align: center;
        border-radius: .5rem;
        background-color: var(--btn_color);
        color: var(--white);
        transition: all .2s;
        white-space: nowrap;

        &:hover{
            background-color: rgb(255,255,255,.2);
        }
    }
}



.verify-success{
    display: flex;   
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: var(--white);

    .logo-title{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .message{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & svg{
            color: var(--green);
        }
    }

    .link{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: .5rem 1rem;
        text-align: center;
        border-radius: .5rem;
        background-color: var(--btn_color);
        color: var(--white);
        transition: all .2s;
        white-space: nowrap;

        &:hover{
            background-color: rgb(255,255,255,.2);
        }
    }
}